<h1> Welcome to Blahoo Answers! </h1>

On this site, you may ask any question you wish and receive answers from people around the world.

<h2>Current Questions:</h2>

<ul>
  {{#each model.questions as |question|}}
  <li class="forum-block">{{#link-to 'question' question.id}}{{question.content}} Asked By: {{question.author}}{{/link-to}}</li>
  <li class="display-none"></li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
